.menu-text{
    white-space: nowrap;
}
nav {
    background-color: teal;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #002954, #1ABC9C4A);
    /* Standard syntax (must be last) */
}

.navbar{
    padding: 0rem 1rem !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa !important;

}

.navbar-light .navbar-brand {
    color: white !important;
}

.navbar-nav li.active{
    background-color: #1f2d3d !important;
}

i.fa-shopping-cart.top-nav {
    font-size: 20px !important;
}

li.dropdown {
    padding-right: 100px;
}

.dropdown-cart-items {
    font-size: 10px;
    padding-right: 10px;
    padding-left: 10px;
    /* top: 0;
    border-top: 8px red solid; */
}

.dropdown-menu-right {}

.dropdown-cart-items .btn {
    font-size: 12px !important;
    padding: 2px;
}

a.btn-cart-top {
    background-color: rgb(6, 100, 94);
    border: none;
}

a.btn-cart-top:hover {
    background-color: rgb(6, 100, 94);
}

a.btn-cart-top:active {
    background-color: rgb(6, 100, 94);
}

img.menu-img {
    border-radius: 50% !important;
    width: 125px !important;
    height: 125px !important;
}

img.img-thumbnail {
    background-color: goldenrod !important;
}

img.nav-img {
    border-radius: 50% !important;
    width: 45px !important;
    height: 45px !important;
    border: 2px white solid;
}

span.price {
    color: #F75353FA;
}

.jumbotron {
    border-radius: 0% !important;
    background-image: url("../images/7@2x.png");
    background-size: cover;
}

.form-control {
    width: 60% !important;
}

.btn-main-search {
    padding-right: 10px !important;
    padding-left: 10px !important;
    width: 40% !important;
}

a.btn-add-to-cart {
    border-radius: 5%;
}

span.brand-name {
    padding-left: 10px;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.unique-color-dark {
    background-color: #1c2331 !important;
    color: white;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 150px;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;            /* Footer height */
}


.menu-items {
    padding-top: 30px;
}

.menu-items .col-md {
    margin-top: 45px;
    padding-left: 40px;
    padding-right: 40px;
}

.menu-desc {
    font-size: 13px;
}

.modal-footer.cart-modal-footer {
    display: block !important;
}

.cart-modal-footer .sub-total .sub-item,
.add-item,
.items-total {
    padding: 7px 10px;
    font-size: 16px;
}

.cart-modal-footer .sub-total .sub-item,
.add-item {
    color: red;
    border: 1px solid red;
}

.cart-modal-footer .sub-total a {
    text-decoration: none;
    cursor: pointer;
}

.cart-modal-footer .sub-total .items-total {
    padding: 5px 15px !important;
}

ul.side-choices {
    list-style-type: none;
}

.side-choices li input[type=radio] {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.side-choices li label {
    font-size: 16px;
    margin-left: 10px;
}
.display-mobile{
    display: none;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }
    li.nav-item {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }
}
@media (max-width: 767px){
    .display-mobile{
        display: inline-block !important;
    }
    .card-number{
        position: absolute;
        z-index: 1;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        color: #f6fffd;
        text-align: center;
        letter-spacing: 0 !important;
        font-weight: 400 !important;
        font-size: 11px !important;
        border: 1px solid transparent;
        background: #1eb7b0;
        line-height: 13px;
    }
}
@media screen and (max-width: 600px) {
    img.nav-img{
        float: left;
    }
    .menu-text{
        margin-left: 80px;
        text-align: left;
    }

    .navbar{
        padding: 0rem 0rem !important;
    }

    .navbar ul li{
        padding: 0rem 1rem !important;
    }

    .navbar .navbar-brand{
        padding: 0rem 1rem !important;
    }

}


/* ---------------------- Cart page styles --------------------------------------*/

.jumbotron.cart-page {
    background-blend-mode: overlay;
    background-color: #00295499;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.page-title {
    font-size: 62px;
    font-weight: bolder;
    color: white;
}

.cart {
    margin-top: 60px;
}

.cart table {
    font-size: 14px;
}

a.btn-cart-page {
    width: 50%;
}

.cart-action {
    font-size: 24px;
    color: black;
}

.cart-action a {
    color: black !important;
}

/*------------ Checkout styles ----------------------*/
form.checkout-form input[type=text]{
    width: 100% !important;
}

form.checkout-form input[type=radio], input[type=checkbox] {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-left: 10px;
    margin-right: 10px;
}

#checkoutModal .modal-footer{
    justify-content: flex-start !important;
}

/*---------------- All categories page ------------------------*/
.sidebar .list-group-item.active a{
    color: white !important;
}

.main-contents .col-md{
    margin-bottom: 40px
}

div.pagination-controls {
    margin-top: 30px !important;


}

div.pagination-controls nav{
    background-color: #ffffff !important;
    background-image: linear-gradient(to right, #ffffff, #ffffff) !important;

}

div.pagination-controls nav ul{
    justify-content: center !important;
}

/* ---------------------------- Checkout Success page -------------------------- */

.success-message {
    padding-top: 45px;
    padding-bottom: 45px;
}

.success-message i.fa{
    font-size: 92px !important;
    color: #28a745 !important;
}

.success-message i.fa-star{
    color: #fde300 !important;
    border-radius: 50%;
}

.success-message .thanks {
    font-size: 28px !important;
    margin-top: 35px;
    margin-bottom: 35px;
}

.review-section{
    background-color: #dae0e5;
    padding: 20px;
    display: inherit;
    width: 50%;
    margin: 20px auto;
    min-height: 220px;
}

.review-section .form-group .form-control{
    width: 100% !important;
}
.display-mobile i {
    font-size: 30px;
    color: rgba(0,0,0,.5);
}
.minwidth-110{
    min-width: 110px;
}
